.product-view-container {
    padding: 40px 100px;
    background-color: #F9F8FE; /* Fundo cinza claro padrão */
    display: flex;
    flex-direction: column;
    gap: 80px; /* Distância entre detalhes do produto e a lista de recomendados */
}

.product-details-wrapper {
    display: flex;
    gap: 40px; /* Espaço entre Galeria e BuyBox */
    align-items: flex-start;
}

/* Responsividade */
@media (max-width: 1100px) {
    .product-details-wrapper {
        flex-direction: column;
        align-items: center;
    }
    
    .buy-box {
        width: 100%; /* No celular o BuyBox ocupa a largura toda */
    }

    .product-view-container {
        padding: 20px;
    }
}