.gallery-container {
    position: relative; 
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

/* Área da Imagem Principal */
.gallery-main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f5f5f5; 
}

.gallery-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.gallery-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    z-index: 10; 
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 50%; 
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, opacity 0.3s;
}

.gallery-arrow:hover {
    background-color: rgba(255, 255, 255, 0.8); 
}

.gallery-arrow-left {
    left: 10px;
 }

.gallery-arrow-right {
    right: 10px;

}
.gallery-arrow.disabled {
    opacity: 0.2;
    cursor: not-allowed;
    display: none; 
}

.gallery-arrow-left {
    left: 20px;
}

.gallery-arrow-right {
    right: 20px;
}


.gallery-arrow.disabled {
    opacity: 0.2;
    cursor: not-allowed;
}


.gallery-thumbs {
    display: flex;
    justify-content: center; /* Centraliza as miniaturas */
    gap: 15px;
    margin-top: 10px;
}

.thumb-item {
    width: 117px;
    height: 95px;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid transparent; /* Borda invisível para não pular quando selecionado */
    transition: border-color 0.2s;
}

.thumb-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.thumb-item.active {
    border-color: #C92071;
}