body{
    background-color: #f5f5f5;
}
.product-card {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: inherit;
}
.discount-badge {
    position: absolute; /* Permite mover livremente sobre a imagem */
    top: 15px;  /* Distância do topo */
    left: 15px; /* Distância da esquerda */
    
    background-color: #E7FF86; /* Amarelo "Neon" parecido com o Figma */
    color: #474747; /* Cor do texto (cinza escuro) */
    
    padding: 5px 15px; /* Espaço interno para criar o formato de pílula */
    border-radius: 25px; /* Arredonda as bordas */
    
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px; /* Espaçamento leve entre letras */
}


.card-image-container {
    position: relative;
    height: 321px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    overflow: hidden; 
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    padding: 20px;
}

/* --- TEXTOS --- */
.card-info {
    display: flex;
    flex-direction: column;
}

.product-category {
    font-size: 12px;
    font-weight: 700;
    color: #8F8F8F;
    margin: 0 0 5px 0;
}

.product-name {
    font-size: 24px; 
    font-weight: 400;
    color: #474747; /* Dark Gray */
    margin: 0 0 10px 0;
    line-height: 1.2;
}

/* --- PREÇOS --- */
.price-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Caso 1: Preço Normal (sem desconto) */
.price-regular {
    font-size: 24px;
    font-weight: bold;
    color: #474747; /* Dark Gray */
}

/* Caso 2: Preço Antigo (quando tem desconto) - Light Gray + Riscado */
.price-old {
    font-size: 16px; /* Geralmente menor que o destaque */
    color: #8F8F8F;  /* Light Gray */
    text-decoration: line-through;
}

/* Caso 2: Preço com Desconto - Dark Gray + 24px */
.price-discount {
    font-size: 24px;
    font-weight: bold;
    color: #474747; /* Dark Gray */
}