

.product-card {
    
    width: 100% !important;
    min-width: 0 !important;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: inherit;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
}

.product-card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease;
}


.card-image-container {
    position: relative;
    width: 100%;
    height: 280px; /* Altura fixa no Desktop */
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    padding: 15px; 
}

/* Badge de desconto */
.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #E7FF86;
    color: #474747;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    z-index: 2;
}

/* Info do Produto */
.card-info {
    display: flex;
    flex-direction: column;
}

.product-category {
    font-size: 12px;
    font-weight: 700;
    color: #8F8F8F;
    margin-bottom: 4px;
}

.product-name {
    font-size: 18px;
    color: #474747;
    line-height: 1.2;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-container {
    display: flex; gap: 8px; align-items: center; flex-wrap: wrap;
}
.price-regular { font-size: 20px; font-weight: bold; color: #474747; }
.price-old { font-size: 14px; color: #8F8F8F; text-decoration: line-through; }
.price-discount { font-size: 20px; font-weight: bold; color: #474747; }



@media (max-width: 768px) {
    .card-image-container {
        height: 160px !important; 
    }
    
    .product-name { font-size: 14px; }
    .price-regular, .price-discount { font-size: 16px; }
    .discount-badge { font-size: 10px; padding: 2px 8px; }
}